.container {
  display: flex;
  position: relative;
}
.form {
  width: 267px;
  height: 151px;
  align-self: center;
}
.textinput {
  margin-bottom: var(--dl-space-space-unit);
}
.textinput1 {
  margin-bottom: var(--dl-space-space-unit);
}
.button {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-success-700);
}
